* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    margin: 10;
    padding: 10;
}